.vehicle-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1000px;
  padding: 10px;
}

.booking-request {
  margin: 16px;
}

.vehicle-details-card {
  position: relative;
}

.delete {
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  padding: 0 4px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  text-decoration: none;
}

.btn-back {
  background-color: #4A4A4A;
  color: #FADA5F;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 50px;
}

.btn-back:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
}

.review-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
  margin: 16px;
  padding:24px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
