
 <video autoplay="autoplay" loop="loop" muted="muted" class="video-background" src="/assets/Tromeur_Knight2.mp4"></video>
</div>


<div class="banner">
  <div class="container">
    <h1>Welcome to rent a vehicle</h1>
    <p>Find the perfect vehicle for you today!</p>
    <%= link_to 'Book a vehicle', vehicles_path, class: "btn btn-primary" %>
  </div>
</div>
<div>
