<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.ctfassets.net/12wxm13zptlj/3fIRjIBRZkKJNYea1CIh0T/c96e7783617b3ebf11a51b901d358301/DRG_Str__kSnakSmil_SUB_frame_2_1778x1000px.jpg?q=80&h=1000&fm=jpg);">
  <div class="container">
    <h1>Welcome to rent a vehicle</h1>
    <p>Find the perfect vehicle for you today!</p>
    <%= link_to 'Book a vehicle', vehicles_path, class: "btn btn-primary" %>
  </div>
</div>
