
 <video autoplay="autoplay" loop="loop" muted="muted" class="video-background" src="/assets/Tromeur_Knight2.mp4"></video>
</div>


<div class="banner">
  <div class="container">
    <h1>Welcome to Rentbattle</h1>
     <p>A knightly service with painfully low prices!</p>
     <a class="btn btn-ghost" href="#">Rent a vehicle now</a>
  </div>
</div>
<div>
