.card-vehicle {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px;
  cursor: pointer;
  caret-color: red;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.card-vehicle > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-vehicle h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-vehicle p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-vehicle .card-vehicle-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-vehicle-infos .card-vehicle-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.card-vehicle-infos .card-vehicle-pricing {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40px;
}
